* {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
}

iframe {
  background-image: url('../img/ajax-loader.gif');
  background-position: center;
  background-repeat: no-repeat;
}

/**************************************************************** HEADER & NAV*/

header {
  height: 60px;
  background: rgba(0, 0, 0, 0.67);
  padding: 8px 220px;
  border-bottom: 1px solid #F6511D;
}

header span {
  font-size: 22px;
}

.brand h3, .brand h6 {
  margin: 0;
}

.brand a {
  font-size: 28px;
  color: #fff;
}

.brand a:hover {
  text-decoration: none;
  color: #f88560;
}

.brand h6, .brand span {
  color: rgba(255, 255, 255, 0.6);
}


/*NAV*/

nav ul {
  text-align: right;
  list-style: none;
  margin-top: 12px;
}

nav li {
  display: inline;
  padding: 0 32px;
  text-transform: uppercase;
}

.selected {
  color: #fff;
  padding-bottom: 16px;
  border-bottom: 4px solid #F6511D;
}

nav a {
  color: rgba(255, 255, 255, 0.6);
}

nav a:hover {
  transition: .2s linear;
  padding-bottom: 16px;
  color: #fff;
  text-decoration: none;
  border-bottom: 4px solid #F6511D;
}

.hamburger {
  display: none;
}


/****************************************************************** INDEX PAGE*/

#home {
  background: url(../img/truck_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: #fff;
}

#home main {
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  margin-top: 10%;
  padding: 24px 0;
}

#home h1 {
  font-size: 68px;
  font-family: Apple Chancery, cursive;
}

/**************************************************************** SERVICE PAGE*/

#services {
  background: url(../img/services_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: #fff;
}

#services main {
  width: 80%;
  margin: 32px auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 24px;
}

.services ul {
  margin-top: 32px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.services li {
  display: inline;
  padding: 4px 24px;
  font-size: 36px;
}

.services li:hover {
  transition: .2s linear;
  cursor: pointer;
  color: #F6511D;
}

.selected-service {
  background: #F6511D;
  border-bottom: 1px solid #ac3814;
}

li.selected-service:hover {
  color: rgba(255, 255, 255, 0.8);
}

.service-content {
  height: 65%;
  overflow-y: auto;
  display: none;
}

.service-content p {
  font-size: 16px;
}

.vinyl-content {
  display: none;
}

.vinyl-content a, .hydro-content a {
  font-size: 2em;
}

.hydro-content {
  display: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, .5);
}


/**************************************************************** GALLERY PAGE*/

#gallery {
  background: url(../img/gallery_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: #fff;
}

#gallery main {
  width: 80%;
  height: 80%;
  overflow-y: scroll;
  margin: 32px auto 80px;
  background: rgba(0, 0, 0, 0.8);
  padding: 24px;
}

.gallery {
  text-align: center;
  margin-top: 24px;
}

.gallery-header {
  margin-bottom: 16px;
  overflow: hidden;
}

.gallery hr {
  width: 25%;
  margin: -8px auto 0;
}

.gallery h1, .gallery p {
  display: inline;
  color: #fff;
}

.gallery h1 {
  color: #F6511D;
  font-size: 68px;
}

.gallery p {
  font-family: Apple Chancery, cursive;
}

.header-icons {
  text-align: right;
  padding-right: 160px !important;
  font-size: 38px;
  margin-top: 24px;
  color: rgba(255, 255, 255, 0.5);
}

.icons-media {
  list-style: none;
}

.icons-media li {
  display: inline-block;
}

.header-icons span {
  margin-left: 24px;
}

.header-icons span:hover {
  cursor: pointer;
  color: #f76436;
}

.selected-media {
  color: #F6511D;
}

.selected-media span {
  border-bottom: 1px solid #fff;
}

.images, .videos {
  margin: 16px auto;
  clear: both;
}

.images img {
  width: 200px;
  height: auto;
  margin: 8px;
  border-radius: 15px;
}

.images img:hover, .header-icons i:hover {
  transition: .2s linear;
  transform: scale(1.05);
}

.videos {
  display: none;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  text-align: center;
}

#overlay img {
  margin-top: 10%;
}

/**************************************************************** CONTACT PAGE*/

#contact {
  background: #333;
  color: #fff;
}

#contact main {
  margin-top: 120px;
}

.contact {
  width: 80%;
  margin: 24px auto;
}

.contact hr {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.contact input, .contact textarea {
  width: 80%;
  color: #333;
  padding: 4px;
}

.contact label {
  margin-top: 16px;
}

input[type="submit"] {
  background: #F6511D;
  border: none;
  margin-top: 8px;
  padding: 4px;
  color: #fff;
}

input:focus, textarea:focus {
  outline-color: #f88560;
}

.contact_info {
  margin-top: 24px;
  text-align: center;
}

.contact_info span {
  font-size: 24px;
  display: block;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
}

.contact_info h3, .contact_info h2 {
  display: inline-block;
  margin-bottom: 24px;
  margin-top: 8px;
}

#gmap_display img {
  max-width: none!important;
  background: none!important;
  font-size: inherit;
}

.contact_info h3 span {
  display: inline;
  color: rgba(0, 0, 0, 0.5);
}


/********************************************************************** FOOTER*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 8px;
  background: rgba(0, 0, 0, 0.65);
  padding: 0 220px;
  text-transform: uppercase;
  z-index: 1002;
}

footer span {
  color: #F6511D;
}

.footer-info {
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.8);
}

.social-links {
  text-align: right;
  font-size: 24px;
  margin-top: 4px;
}

.social-links a {
  color: #fff;
}

.social-links a:hover {
  transition: .1s linear;
  color: #f6511d;
}

.footer-info-mobile {
  display: none;
}


/*FREE QOUTE POP UP*/

.free-quote {
  position: fixed;
  bottom: -50px;
  right: 80px;
  z-index: 1001;
}

.free-quote a {
  transition: .2s linear;
  color: #fff;
  background: #f76436;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px 16px 60px;
}

.free-quote a:hover {
  color: #fff;
  background: #f6511d;
  text-decoration: none;
}

@media (max-width: 1280px) {
  nav li {
    padding: 16px;
  }
  #home h1 {
    bottom: 210px;
    left: 100px;
  }
  #home h2 {
    bottom: 120px;
    left: 100px;
  }
  .services li {
    font-size: 24px;
  }
  #services main {
    margin-top: 0;
  }
  #gallery main {
    margin-top: 16px;
  }
  #overlay img {
    margin-top: 48px;
  }
  #contact main {
    margin-top: 16px;
  }
}

@media (max-width: 820px) {
  header {
    padding: 8px 0;
  }
  .brand {
    margin-left: 48px;
  }
  nav {
    padding: 0;
  }
  .navbar {
    display: none;
  }
  nav ul {
    position: relative;
    text-align: center;
    background: #000;
    padding: 48px 0;
    margin-top: 9px;
    z-index: 1001;
  }
  nav li {
    display: block;
    margin: 32px 0;
  }
  nav a {
    padding: 16px 8px;
    font-size: 32px;
  }
  .selected {
    padding: 8px 72px;
    border: 4px solid #F6511D;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 16px;
    right: 48px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 4px 4px 0 4px;
  }
  #home main {
    margin-top: 25%;
  }
  #services main, #gallery main, #contact main {
    width: 95%;
  }
  #services main {
    height: 75%;
  }
  #gallery main, #contact main {
    height: 85%;
  }
  iframe {
    width: 500px;
    margin-bottom: 16px;
  }
  #overlay img {
    margin-top: 25%;
    max-width: 95%;
  }
  #contact main {
    overflow-y: scroll;
  }
  .contact_info {
    margin-top: 24px;
  }
  .contact_info h3, .contact_info h2 {
    margin-bottom: 8px;
  }

  footer {
    text-align: center;
    padding: 0;
  }
  .footer-info {
    display: none;
  }
  .footer-info-mobile {
    display: block;
  }
  .social-links {
    padding: 0;
    text-align: center;
  }
  .free-quote {
    display: none;
  }
}
